ion-header {
  ion-toolbar {
    img {
      width: 50%;
    }
    .heading {
      h4 {
        margin-left: 5px;
        font-weight: bold;
        color: #ff7300;
      }
      span {
        margin-left: 5px;
        color: #9799a1;
      }
    }
  }
}

ion-searchbar {
  // border: 2px solid #9799a1;
  // border-radius: 0.5rem;
  // margin-left: 15px;
  // width: 92%;
  --box-shadow: none !important;
  // --ion-color: #9799a1;
  // --clear-button-color: var(--ion-color);
}
